html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
}
.main {
  width: 100vw;
  height: 300vh;
  font-family: poppins, sans-serif;
  line-height: 1.4;
  background-color: rgb(7, 156, 12);
}
/* --------------------------------------------------------------------------------- */
.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 65.5px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  background-color: rgb(190, 49, 68);
  z-index: 10;
  overflow: hidden;
}
.nav-list {
  display: flex;
  margin-right: 1rem;
  /* background-color: aqua; */
}
.nav-list a {
  display: block;
  font-size: 1.3rem;
  padding: 1.15rem;
  /* background-color: aqua; */
}
ul {
  list-style: none;
}
li {
  padding-right: 10px;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
li:hover {
  background-color: black;
}
/* ---------------------------------------------------------------------------- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left, black, rgb(63, 63, 63));
  background-color: rgb(40, 40, 40);
}
.headline {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 248, 248);
}
.tagline {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  color: rgb(190, 49, 68);
}
/* ---------------------WORK STARTS HERE---------------------------------- */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(69, 86, 125);
  padding-bottom: 5rem;
}
.header {
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 5.8rem 1.5rem 0 1.5rem;
  border-bottom: 2px solid white;
  font-size: 1.2rem;
  text-align: center;
}
.work-grids {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  width: 100%;
  max-width: 1280px;
  margin: 3rem auto;
}
.work-project {
  margin: 1rem;
  height: auto;
  padding-bottom: 4rem;
  background-color: rgb(48, 56, 65);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 4px;
}
.title
{
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
}
.work-grids a{
    text-align: center;
}
img {
  display: block;
}
.project-image {
  height: calc(100%);
  width: 100%;
  object-fit: cover;
}
.button {
  font-size: 18px;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  background-color: rgb(48, 56, 65);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}
.button:hover {
  background-color: rgb(190 49 68);
}

/* ---------------------WORK ENDS HERE-------------------------------------------------- */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(48 56 65);
  align-items: center;
  flex-direction: column;
}
.content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 5.8rem; */
  width: 100vw;
  height: 75%;
  text-align: center;
  /* border: 3px solid orange; */
}
.contact-center {
  background-color: aqua;
}
.content-contact h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: azure;
  padding-bottom: 1rem;
}
.content-contact p {
  font-style: italic;
  color: azure;
}
.links {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 1.5rem;
  text-shadow: rgb(31, 31, 31) 2px 2px 1px;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem 0.5rem 2rem;
  border-radius: 2px;
}
/* ---------------------------------------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 25%;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgb(190, 49, 68);
}
.content-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 100%;
  /* background-color: black; */
}
.disclaimer {
  color: white;
  font-size: 1.1rem;
  width: 60%;
  /* margin-left: 50px; */
}
.copyrights {
  text-align: center;
  font-size: 1.1rem;
  color: white;
  margin-left: 7rem;
  width: 20%;
}
